:root {
    --color-primary: #F8B69D;
    --color-primary-hover: #FFC4AD;
    --color-primary-pressed: #F1AD94;
    --color-grey: #ECECEC;
    --color-pink: #F8D7D7;
    --color-beige: #F8EFD7
    --color-nude: #F8E0D7;
    --color-dark: #000;
    --color-light-dark: #979797;
    --color-white: #fff;

    --font-body: 'Montserrat', sans-serif;
    --font-primary: 'Noto Serif', serif;
}