.home-page {
  max-width: 343px;
  margin: 65px 0;
  background-color: var(--color-white);
  border-radius: 16px;
  font-size: 14px;

  & img {
    border-radius: 16px 16px 0 0;
    display: none;
  }

  & &__img-container {
    border-radius: 16px 16px 0 0;
    background-image: url(/public/images/bag-1-mobile.png);
    height: 246px;
    width: auto;

    &--pink {
      background-image: url(/public/images/bag-2-mobile.png);
    }

    &--beige {
      background-image: url(/public/images/bag-3-mobile.png);
    }

    &--grey {
      background-image: url(/public/images/bag-4-mobile.png);
    }
  }

  & &__details {
    padding: 26px 16px;
    display: flex;
    flex-direction: column;
  }

  & &__category {
    font-size: 12px;
    color: var(--color-primary);
    text-transform: uppercase;
  }

  & &__title {
    font-family: var(--font-primary);
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -1.5px;
    font-weight: 600; 
    width: 70%;
    margin: 8px 0 12px;
  }

  & &__description {
    color: var(--color-light-dark);
    font-size: 12px;
    line-height: 142%;
    letter-spacing: -0.1px;
  }

  & fieldset {
    border: none;
    font-size: 12px;
    margin-top: 19px;
    font-weight: 500;
  }

  & &__items {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 1px;
  }

  & &__item-container {
    position: relative;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 22px;
  }

  & &__input {
    display: none;

    &:checked ~ .home-page__item {
      border: 1px solid black;
      box-sizing: border-box;
    }
  }

  & &__legend {
    font-weight: 700;
  }

  & &__item {
    position: absolute;
    margin: 8px 16px 0 0;
    height: 24px;
    width: 24px;
    background-color: #eee;
    border-radius: 50%;

    &--nude {
      background-color: var(--color-nude);
    }
    &--pink {
      background-color: var(--color-pink);
    }
    &--beige {
      background-color: var(--color-beige);
    }
    &--grey {
      background-color: var(--color-grey);
    }
  }

  & &__prices {
    margin: 26px 0 14px;
    font-family: var(--font-primary);
    display: flex;
    align-items: end;
  }

  & &__price {
    font-family: var(--font-primary);

    &--current {
      font-size: 24px;
      margin-right: 16px;
      letter-spacing: -0.8px;
      font-weight: 700;

      & span {
        font-size: 14px;
        letter-spacing: 0px;
      }
    }

    &--old {
      color: var(--color-light-dark);
      text-decoration: line-through;
      font-size: 14px;
      letter-spacing: -0.6px;

      & span {
        font-size: 10px;
      }
    }
  }

  & &__button {
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    border-radius: 12px;
    padding: 16px 24px;
    min-width: 311px;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-primary-hover);
    }

    &:active {
      background-color: var(--color-primary-pressed);
    }
  }

  @media (min-width: 768px) {
    max-width: 677px;
    display: flex;
    margin-top: 371px;

  & &__img-container {
    border-radius: 16px 0 0 16px;
    background-image: url(/public/images/bag-1-large.png);
    height: 451px;
    width: 280px;

    &--pink {
      background-image: url(/public/images/bag-2-large.png);
    }

    &--beige {
      background-image: url(/public/images/bag-3-large.png);
    }

    &--grey {
      background-image: url(/public/images/bag-4-large.png);
    }
  }

  & &__details {
    padding: 42px 32px 0;
    width: 397px;
    box-sizing: border-box; 
    }  

    & &__button {
      width: 333px;
    }
  }

  @media (min-width: 1024px) {
    margin-top: 180px;  
  }
} 