@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: var(--font-body);
  background-color: var(--color-nude);
  display: flex;
  justify-content: center;
}